
@media (max-width: 1630px) {

  /* ------------ steps  --------------------*/

  .slick-prev {
    left: 15px;
  }
  
  .slick-next {
    right: 15px;
  }
}

@media (max-width: 1280px) {

  /* ------------ menu  --------------------*/ 

  .header {
    margin-bottom: 80px;
  }
  .menu--active {
    .menu__list {
      transform: translateY(0);
    }
  }
  .menu {
    &__list {
      padding: 50px 0;
      position: absolute;
      top: 120px;
      left: 0;
      right: 0;
      display: block;
      text-align: center;
      background-color: #fff;
      transform: translateY(-200%);
      transition: all .7s;
    }
    &__icon {
      display: block;
    }
    &__item {
      color: $default;
      &:not(:last-child) {
        margin-right: 0;
      }
    }
    .arrow-icon {
      display: none;
    }
    &__item-btn {
      padding: 15px 0;
    }
    &__link {
      display: inline-block;
      padding: 15px 0;
      &:hover {
        border-bottom: 2px solid $default;
      }
    }
  }
  .dropdown {
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    opacity: 1;
    visibility: visible;
    &__link {
      padding: 10px 0;
    }
    &__link:hover {
      background-color: rgba(43, 36, 36, 0.4);
      color: #fff;
    }
  }

    /* ------------ popular section  --------------------*/

  .popular {
    
    &__content {
      padding: 40px 20px 30px;
    }

    &__list {
      gap: 30px;
    }

    &__item-link::before {
      display: none;
    }
  }

  /* ------------ why section  --------------------*/

  .why {
    &__content {
      gap: 20px;
    }
    &__description,
    &__video {
      flex-basis: 50%;
    }
    &__info {
      padding: 75px 0 55px;
      &::before {
        content: '';
        position: absolute;
        display: block;
        inset: 0;
        background-color: rgba(255, 255, 255, 0.8);
      }
      &-list {
        flex-basis: 45%;
      }
    } 
  }

  /* ------------ consultation section  --------------------*/

  .consultation {
    &__inner {
      padding: 25px 0;
    }
  }

  /* ------------ steps  --------------------*/

  .steps {
    &__inner {
      padding: 97px 0 0;
    }
  }

  .slick-dots {
    gap: 50px;
  }
}

@media (max-width: 1180px) {

  /* ------------ consultation section  --------------------*/
  
  .consultation {
    &__container {
      &::after {
        bottom: -100px;
        right: -122px;
      }
    }
    &__inner {
      gap: 25px;
    }
    &__specialist {
      font-size: 20px;
    }
    &__title,
    &__name {
      margin-bottom: 5px;
    }
    &__experience {
      max-width: 100%;
    }
  }

  /* ------------ steps --------------------*/

  .steps {
    &__inner {
      padding: 87px 0 0;
    }
  }

  .slide {
    &__content {
      padding: 40px;
    }
  }

  .slick-dots {
    margin-bottom: 30px;
    li {
      width: 100px;
      height: 52px;
      padding: 10px 10px;
      font-size: 20px;
    }
  }
}

@media (max-width: 980px) {

  /* ------------ header section  --------------------*/
  .header {
    height: 800px;
    margin-bottom: 60px;
    &__hero {
      height: 800px;
      background-position: bottom center;
    }
    &__hero-content {
      max-width: 600px;
      padding: 180px 0 0 10px;
    }
  }
  ul.social-list {
    left: 40px;
  }

  /* ------------ popular section  --------------------*/

  .popular {
    padding-top: 40px;
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* ------------ why section  --------------------*/

  .why {
    &__content {
      flex-direction: column;
      justify-content: center;
    }
    &__title {
      margin-bottom: 40px;
    }
    &__description,
    &__video {
      width: 100%;
    }
    &__text {
      font-size: 18px;
    }
    &__info {
      padding: 60px 0 73px;
    }
  }

  /* ------------ consultation section  --------------------*/
  
  .consultation {
    &__container::after,
    &__specialist {
      display: none;
    }
    &__inner {
     // display: block;
    }
    &__form {
      margin: 0 auto;
    }
  }

  /* ------------ steps --------------------*/

  .steps{
    &__inner {
      padding: 0;
    }
  }
  
  .slide {
    &__inner {
      padding: 0 0 20px;
      flex-direction: column;
    }   
    &__image {
      width: 100%;
      img {
        height: 425px;
        border-radius: 8px 8px 0px 0px;
      }
    }
    &__content {
      width: 100%;
      height: 300px;
      border: 2px solid $golden;
      border-radius: 0px 0px 8px 8px;
    } 
    &__num {
      margin-bottom: 5px;
    }
  }

  .slick-dots {
    position: static;
    align-items: center;
    gap: 30px;
    li {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $golden;
      font-size: 0;
      padding: 0;

      &.slick-active {
        width: 20px;
        height: 20px;
        box-shadow: none;
      }
    }
  }
}

@media (max-width: 680px) {

  /* ------------ header section  --------------------*/

  .header {
    height: 700px;
    margin-bottom: 40px;
    &__contact {
      display: none;
    }
    &__hero {
      height: 700px;
    }
    &__hero-content {
      max-width: 100%;
      padding: 170px 0 0;
      text-align: center;
    }
    &__title {
      font-size: 32px;
    }
    &__subtitle {
      font-size: 20px;
      max-width: 100%;
      margin-bottom: 50px;
    }
    &__btn {
      margin: 0 auto 30px;
    }
  }
  ul.social-list {
    left: calc(50% - 92px);
    bottom: 10px;
  }

  /* ------------ popular section  --------------------*/

  .popular {
    
    &__header {
      display: block;
      text-align: center;
    }
    &__title {
      width: 100%;
      margin-bottom: 17px;
    }
    &__link {
      display: inline-block;
    }
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  /* ------------ why section  --------------------*/

  .why {
    &__title,
    &__content {
      margin-bottom: 30px;
    }
    &__video {
      span {
        font-size: 16px;
      }
    }
    &__info {
      padding: 35px 0 40px;
      &::before {
        background-color: rgba(255, 255, 255, 1);
      }
      &-inner {
        flex-direction: column;
        justify-content: center;
      }
      &-list {
        width: 100%;
      }
      &-item {
        min-height: 230px;
      }
    }
  }

  /* ------------ form --------------------*/

  .form {
    max-width: 100%;
  }
}

@media (max-width: 560px) {

/* ------------ form --------------------*/
  
  .form {
    padding: 0;
    border: 0;
    &__body {
      padding: 25px 35px;
      border: 2px solid $golden;
    }
    &__title {
      font-size: 15px;
      margin-bottom: 20px;
    }
    &__subtitle {
      font-size: 14px;
      margin-bottom: 25px;
    }
    &__social {
      &-list {
        gap: 32px;
      }
      &-item {
        width: 58px;
        span {
          font-size: 12px;
        }
      }
    }
    &__input {
      padding: 14px;
      font-size: 12px;
    }
    &__btn {
      margin: 0 auto 20px;
    }
    &__privacy {
      font-size: 12px;
    }
  }

  /* ------------ consultation --------------------*/

  .consultation {
    &__inner {
      padding: 100px 0;
    }
  }

  /* ------------ steps --------------------*/

  .slick-dots {
      gap: 15px;
    }

  .slide {   
    &__content {
      padding: 20px;
      height: 350px;
    }
    &__title {
      margin-bottom: 20px;
    }
  }

}

@media (max-width: 480px) {

  /* ------------ header section  --------------------*/
  .header { 
    margin-bottom: 0;
    &__title {
      font-size: 20px;
    }
    &__subtitle,
    &__description {
      font-size: 16px;
    }
    &__btn {
      padding: 12px 32px;
      font-size: 14px;
    }
  }

  ul.social-list {
    display: none;
  }

  /* ------------ popular section  --------------------*/

  .popular {
    &__item {
      max-width: 100%;
    }
    &__link,
    &__item-link {
      display: none;
    }
    &__content {
      text-align: center;
    }
    &__title {
      text-align: left;
      max-width: 212px;
    }
  }

  /* ------------ why section  --------------------*/

  .why {
    &__text {
      font-size: 16px;
    }
    &__info {
      &-title {
        font-size: 16px;
      }
    }
  }

  /* ------------ form --------------------*/
  
  .form {
    &__body {
      padding: 17px 20px 23px;
    }
  }

  /* ------------ steps --------------------*/

  .slide {
    &__image {
      img {
        height: 220px;
      }
    }
    &__title {
      margin-bottom: 10px;
      font-size: 16px;
    }
    &__num {
      font-size: 24px;
      margin-bottom: 2px;
    }
  }
}