@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'videotube';

.why {
  padding-top: 45px;

  &__title {
    max-width: 680px;
    margin-bottom: 50px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 45px;
  }

  &__description {
    flex-basis: calc(50% - 25px);
  }

  &__video {
    flex-basis: calc(50% - 25px);
    display: flex;
    flex-direction: column;
    padding: 54px 28px 22px;
    border: 4px solid $golden;
    border-radius: 8px;
    span {
      @extend %montserrat-500;
      font-size: 20px;
      align-self: flex-end;
    }
  }

  &__video-popup {
    min-height: 335px;
    background: url('../images/why/video-bg.jpg') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
  }

  &__video-link {
    color: $accent;
    transition: color .3s linear;
    @media (any-hover: hover) {
      &:hover {
        color: $golden;
      }
    }
  }

  &__text {
    max-width: 88%;
    margin: 0 auto 10px;
    text-align: center;
    @extend %montserrat-600i;
    font-size: 20px;
    color: $second;
  }

  &__info {
    position: relative;
    padding: 75px 0 93px;
    background-image: url('../images/why/why-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    &-inner {
      display: flex;
      justify-content: space-between;
      gap: 25px;
      position: relative;
      z-index: 10;
    }

    &-list {
      flex-basis: 270px;
    }

    &-item {
      min-height: 252px;
      text-align: center;
      margin-bottom: 25px;
    }

    &-img {
      margin: 0 auto;
      margin-bottom: 20px;
    }

    &-title {
      @extend %montserrat-600;
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}